body {
  font-family: 'Roboto', sans-serif;
}

.text-underline {
	width: 50%;
	margin: 0 auto;
}

#icon_one {
	font-size: 72px;
	color: red;
}

#icon_two {
	font-size: 36px;
	padding-top: 20px; 
}

#icon_three {
	font-size: 24px;
}

#progress {
	background-image: url(images/6.jpg);
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#banner {

    padding-top: 100px;
    padding-bottom: 10px;
  }

@media screen and (max-width: 1199px) {
  #banner {
    padding-top: 90px;
    padding-bottom: 10px;
  }
}

@media screen and (max-width: 991px) {
  #banner {
    padding-top: 80px;
    padding-bottom: 10px;
  }
}

@media screen and (max-width: 767px) {
  #banner {
    padding-top: 75px;
    padding-bottom: 10px;
  }
}

@media screen and (max-width: 575px) {
  #banner {
    padding-top: 100px;
    padding-bottom: 10px;
  }
  h1 {
  	font-size: 1.75rem;
  }
  p {
  	font-size: 0.75rem;
  }
}